@()

<!DOCTYPE html>

<html>
    <head>
        <title>Hello buffalo</title>
    </head>

    <body>
        <a href="http://95.85.61.4:9000"><img src="http://95.85.61.4/images/space.jpg" /></a>
        <h3>Learning HTML from codecademy</h3>
        <p>This text is <strong>strong</strong>.</p>
        <p>The link to the <a href="http://95.85.61.4:9000">homepage</a>.</p>
        <p>Following is an ordered list.</p>
        <ol>
            <li>Ordered item 1</li>
            <li>Ordered item 2</li>
        </ol>
        <p>Following is an unordered list.</p>
        <ul>
            <li>Unordered item 1</li>
            <li>Unordered item 2</li>
        </ul>
        <p>And following is a nested list.</p>
        <ol>
            <li>Dad's interests
                <ul>
                    <li>football</li>
                    <li>knitting</li>
                </ul>
            </li>
            <li>Mom's interests
                <ul>
                    <li>hating football</li>
                    <li>skydiving</li>
                </ul>
            </li>
        </ol>
    </body>
</html>
